:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: start; /* O padrão do Vite é 'center', isso que estraga */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%; /* Garante que seu App ocupe 100% da largura */
  margin: 0;
  padding: 0;
  text-align: left; /* O padrão as vezes é center */
}